{% extends 'core/base.html' %}
{% load static %}

{% block content %}      
<div class=" mt-5">
  <div class="text-center">
    <img src="{% static 'core/images/1.jpg' %}" alt="loading"
    class="img-thumbnail" width="250px" height="150px" > 
  </div>
   <div class="mt-5 text-white mt-5 mx-5 text-justify">
    
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4 " style="line-height: 2rem;">
        <p style="text-indent: 100px;">I am <b class="text-warning">Diken Thapa</b> having 2 years of exp in full stack deloper
        for globar bussinesses, I offer the technical expertise you a seeking for yout web developer position.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis porro totam quibusdam facilis id.
            <b class="text-warning"> Neque rerum</b>, soluta harum mollitia exercitationem!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis esse, earum est iusto ipsam aperiam ex, magni alias repudiandae et 
            provident ab cumque consectetur repellendus excepturi suscipit commodi quidem impedit?</p>
    </div>
   </div>
  <div class="text-center">
    <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="" class="btn btn-outline-info my-3">contact</a>
  </div>
</div>
{% endblock content %}
